<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<!-- enable asp.net core layout renderers -->
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<!-- the targets to write to -->
	<targets>
		<!-- write logs to file  -->
		<!--<target xsi:type="File" name="allfile" fileName="c:\temp\nlog-all-${shortdate}.log"
           layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />-->

		<target name="BusinessFile" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Discard">
			<target xsi:type="File"
					fileName="${basedir}/Logs/Business/business.log"
					layout="${longdate} ${level:uppercase=true} ${event-context:item=Action} ${message}"
					maxArchiveFiles="300"
					archiveAboveSize="30960000"
					archiveNumbering="Rolling"
					enableArchiveFileCompression="true"
					archiveEvery="Month"
              />
		</target>
		<target name="ErrorFile" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Discard">
			<target xsi:type="File"
					fileName="${basedir}/Logs/Error/error.log"
					layout="${longdate} ${level:uppercase=true} ${event-context:item=Action} ${message} ${event-context:item=Amount} ${stacktrace}"
					maxArchiveFiles="300"
					archiveAboveSize="30960000"
					archiveNumbering="Rolling"
					enableArchiveFileCompression="true"
					archiveEvery="Month"
              />
		</target>
		<target name="SocketMessageFile" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Discard">
			<target xsi:type="File"
					fileName="${basedir}/Logs/SocketMessage/socketMessage.log"
					layout="${longdate} ${level:uppercase=true} ${event-context:item=Action} ${message}"
					maxArchiveFiles="300"
					archiveAboveSize="30960000"
					archiveNumbering="Rolling"
					enableArchiveFileCompression="true"
					archiveEvery="Month"
              />
		</target>
		<target name="WmsMessageFile" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Discard">
			<target xsi:type="File"
					fileName="${basedir}/Logs/WmsMessage/wmsMessage.log"
					layout="${longdate} ${level:uppercase=true} ${event-context:item=Action} ${message}"
					maxArchiveFiles="300"
					archiveAboveSize="30960000"
					archiveNumbering="Rolling"
					enableArchiveFileCompression="true"
					archiveEvery="Month"
              />
		</target>
		<target name="AdminMessageFile" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Discard">
			<target xsi:type="File"
					fileName="${basedir}/Logs/AdminMessage/adminMessage.log"
					layout="${longdate} ${level:uppercase=true} ${event-context:item=Action} ${message}"
					maxArchiveFiles="300"
					archiveAboveSize="30960000"
					archiveNumbering="Rolling"
					enableArchiveFileCompression="true"
					archiveEvery="Month"
              />
		</target>
		<target name="FourWayShuttleMessageFile" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Discard">
			<target xsi:type="File"
					fileName="${basedir}/Logs/FourWayMessage/fourWayMessage.log"
					layout="${longdate} ${level:uppercase=true} ${event-context:item=Action} ${message}"
					maxArchiveFiles="500"
					archiveAboveSize="30960000"
					archiveNumbering="Rolling"
					enableArchiveFileCompression="true"
					archiveEvery="Month"
              />
		</target>
		<target name="OtherMessageFile" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Discard">
			<target xsi:type="File"
					fileName="${basedir}/Logs/OtherMessage/otherMessage.log"
					layout="${longdate} ${level:uppercase=true} ${event-context:item=Action} ${message}"
					maxArchiveFiles="300"
					archiveAboveSize="30960000"
					archiveNumbering="Rolling"
					enableArchiveFileCompression="true"
					archiveEvery="Month"
              />
		</target>
		<target name="FailureRequestCacheFile" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Discard">
			<target xsi:type="File"
					fileName="${basedir}/Logs/FailureRequestCache/failureRequestCache.log"
					layout="${message}"
              />
		</target>
	</targets>

	<!-- rules to map from logger name to target -->
	<rules>
		<logger name="Business" minlevel="Trace" writeTo="BusinessFile" />
		<logger name="WmsMessage" minlevel="Trace" writeTo="WmsMessageFile" />
		<logger name="Error" minlevel="Trace" writeTo="ErrorFile" />
		<logger name="SocketMessage" minlevel="Trace" writeTo="SocketMessageFile" />
		<logger name="AdminMessage" minlevel="Trace" writeTo="AdminMessageFile" />
		<logger name="FourWayShuttleMessage" minlevel="Trace" writeTo="FourWayShuttleMessageFile" />
		<logger name="OtherMessage" minlevel="Trace" writeTo="OtherMessageFile" />
		<logger name="FailureRequestCache" minlevel="Trace" writeTo="FailureRequestCacheFile" />
		<!-- <logger name="iValon.SDS.WebApi.*" level="INFO" writeTo="HttpMesInfo" /> -->
	</rules>
</nlog> 